Flask==2.2.3
Flask-Session==0.4.0
Flask-SQLAlchemy==3.0.3
GitPython==3.1.30
Pillow==9.4.0
SQLAlchemy==2.0.4
urllib3==1.26.14
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
y-py==0.5.5
ypy-websocket==0.8.2
gunicorn==20.1.0